.item{
  cursor: pointer;
  border-width: 1px;
  background-color: #ffffff;
  background-position: center center;
  border-color: #000000;
  border-style: solid;
  margin: 3rem;
  padding: 2rem;
  position: relative;
  z-index: 6;
  box-shadow: 10px 10px black;
}

.comments-title{
    font-size: 1rem;
    font-family: "JTUSjIg1";
}

.title{
  font-size: 1.5rem;
  font-family: "DrukTextWideBold";
}

.item-data{
  display: flex;
  flex-direction: column;
}
