@font-face {
    font-family: "DrukTextWideBold";
    src: local("DrukTextWideBold"),
    url("./fonts/DrukTextWide-Bold.woff") format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: "JTUSjIg1";
    src: local("JTUSjIg1"),
    url("./fonts/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2") format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: "JTUSjIg2";
    src: local("JTUSjIg2"),
    url("./fonts/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2") format("truetype");
    font-weight: bold;
}

body {
    background-color: #efefef;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

